In [229]:
import pandas as pd
import plotly.express as plt
import numpy as np
import datetime as dt 
import streamlit as st

In [230]:
#Reading the Csv file & loading our DataFrame info
vehicles_info = pd.read_csv('vehicles_us.csv')
vehicles_info.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

1.1 Fixing Data

In [231]:
#Checking for missing and fill it 
print(vehicles_info.isna().sum())
#Filling all the missing in vehicle_info DataFrame with 'No info!' in 'paint_color'.
vehicles_info['paint_color'] = vehicles_info['paint_color'].fillna('No info!')
#filling all numerical missing with 0 
vehicles_info = vehicles_info.fillna(0)
vehicles_info.info()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [232]:
#Checking for duplicates in vehicle_info.
print(vehicles_info.duplicated().sum())
#We have ZERO duplicate in the DataFrame

0

In [233]:
#printing vehicle_info general information to check the Dtype for every column and switch it if needed.
vehicles_info.info()
#Switching 'model_year' and 'cylinders' and 'is_4wd'Dtype from object and float to int
vehicles_info[['model_year', 'cylinders', 'is_4wd']] = vehicles_info[['model_year', 'cylinders', 'is_4wd']].astype(int)
#switching 'date_posted' Dtype from object to DateTime
vehicles_info['date_posted'] = pd.to_datetime(vehicles_info['date_posted'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    51525 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     51525 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      51525 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   51525 non-null  object
 10  is_4wd        51525 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

2.2 Grouping by

In [ ]:
car_model = vehicles_info.groupby('model')[''].value_counts()
print(car_model.sample(20))

model                     model_year
ford explorer             1996          13
ford f350                 2006          12
chevrolet corvette        1980          10
chevrolet silverado 1500  2002          28
ford f-250                1996           9
gmc sierra                2017          14
ford fusion               2006          21
gmc sierra 2500hd         2015          39
hyundai sonata            2010          21
chevrolet impala          2017          20
chevrolet suburban        1978           2
kia sorento               2008          13
gmc sierra                1995           3
jeep cherokee             2009           1
subaru forester           2012          23
ford expedition           0             32
ford taurus               2016           6
toyota rav4               1996           1
ford expedition           2007          31
ford f350 super duty      2012          13
Name: count, dtype: int64

2.2 visualization

In [235]:
#printing numerical information about 'price', 'model_year', 'odometer'
print(vehicles_info[['price', 'model_year', 'odometer']].describe())

               price    model_year       odometer
count   51525.000000  51525.000000   51525.000000
mean    12132.464920   1868.590121   97854.326948
std     10040.803015    513.626950   72940.007970
min         1.000000      0.000000       0.000000
25%      5000.000000   2005.000000   35896.000000
50%      9000.000000   2010.000000   99114.000000
75%     16839.000000   2014.000000  146541.000000
max    375000.000000   2019.000000  990000.000000